#containerEdit {
    display: flex;
    justify-content: center;
    
    padding-top: 100px;
}
#contentt {
    background-color: white;
    width: 20rem;
}
p {
    text-align: left;
}
#contentt h1 {
    text-align: center;
}

@media only screen and (max-width: 600px){
#containerEdit {
    flex-direction: column;
    
}
#contentt {
    width: 17rem;
}
#contentt h1 {
    font-size: 30px;
    text-align: left;
}


}