#meni {
    border: none;
    border-collapse: collapse;
    overflow-x: auto;
    
}
#meni tr, #meni th, #meni td {
    border: none;
}

#meni th, #meni td {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}
#meni td {
    min-width: 150px;
    font-size: larger;
    font-weight: bold;
}
 .im {
    width: 180px;
    height: 140px;
    border-radius: 7px;
}
#naruci {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    background-color: #01796f;
    color: white;
    font-style: bold;
    font-size: 16px;
}
.btnn {
    padding: 0px;
}
#menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#meni tr:hover {
    opacity: 0.5;
}
@media only screen and (max-width: 600px) {
    th, td {
        font-size: 12px;
    }
    
    .btnn button {
        font-size: 12px;
        padding: 5px 10px;
    }
}